
/* body {
  background-color: #f8fcfc;
} */

.navbar {
    background-color: rgb(33, 32, 33);
  border-radius: 8px;
 
  position: relative;
  text-decoration: none;
  
    
    
}
.navbar li{
float: left;
list-style: none;
padding: 5px 5px;
margin: 5px;
font-size: 20px;
color: green;
  text-decoration: none;
font-family: cursive;
text-align: center;


}




.navbar ul{

    overflow: auto;
}

.name {
  font-size: 40px;
font-family: cursive;
color: green;
  display: block;
  text-align: center;
  margin-top: 300px;
  
  
}
.aboutheader {
  display: block;
  text-align: center;
  color: green;
  font-size: 25px;
  font-family: cursive;
  margin-top: 50%;
}
.aboutsection {

font-size: 20px;
font-family: cursive;
color: black;
display: inline-block;
word-wrap: break-word;



}